<h1>You purchased successfully!</h1>

<div class = well>
  <h3>order ID of DSGN000<%= @order.id %></h3>

  <% @order.carted_products.each do |carted_product| %>
    <p><%= carted_product.product.name %> - <%= number_to_currency(carted_product.product.price) %> x <%= carted_product.quantity %></p>
  <% end %>


  <h3>A confirmation email will be sent to: <%= current_user.email %></h3>
</div>