<p>You have visited this page <%= @visit_count %> times.</p>

<h1>List of Designer Chairs</h1>
<% @products.each do |product| %>
  <h2><a href="/designerchairs/<%= product.id %>">Name: <%= product.name %></a></h2>
  <h2>Price: <%= product.price %></h2>
  <img src="<%= product.first_image_url %>" alt="<%= product.name %>">
  <h2>Description: <%= product.description %></h2>
  <br>
  <br>
  <br>
<% end %>