<h2>Name: <%= @product.name %></h2>
  <!-- <div class="col-md-6"> -->
    <% if @product.discounted? %>
      <h4>Discount Item</h4>
    <% else %>
      <h4>Everyday item</h4>
    <% end %>

    <h2 class="<%= "red-price" if @product.discounted? %>">Price: <%= number_to_currency(@product.price) %></h2>
    <h3><%= number_to_currency(@product.tax) %></h3>
    <h3><%= number_to_currency(@product.total) %></h3>

    <img src = <%= @product.image %> >
    <h2>Description: <%= @product.description %></h2>
  <!-- </div> -->
    <h5><%= @product.supplier.name %></h5>


<%= link_to "Edit Product", "/designerchairs/#{ @product.id }/edit" %>
<%= link_to "Delete", "/designerchairs/#{ @product.id }", method: :delete %>