<h2>Name: <%= @product.name %></h2>
<h2>Price: <%= @product.price %></h2>
<h3><%= @product.tax %></h3>
<h3><%= @product.sale_message %></h3>
<img src = <%= @product.image %> >
<h2>Description: <%= @product.description %></h2>

<%= link_to "Edit Product", "/designerchairs/#{ @product.id }/edit" %>
<%= link_to "Delete", "/designerchairs/#{ @product.id }", method: :delete %>